_ignored_by_git/

# Output folder content
pxpyfactory/__pycache__/

input_bucket/*
!input_bucket/.gitkeep
!input_bucket/*.xlsx
!input_bucket/stats/
input_bucket/stats/*
!input_bucket/stats/*.csv

output_bucket/*
!output_bucket/.gitkeep

~$*

# Environment variables
.env